<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="2.0.0" targetFramework="portable45-net45+win8+wp8+wpa81" developmentDependency="true" />
  <package id="PropertyChanged.Fody" version="2.1.4" targetFramework="portable45-net45+win8+wp8+wpa81" developmentDependency="true" />
  <package id="Xamarin.Forms" version="2.3.4.247" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamvvm.Core" version="1.0.3-pre-124" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamvvm.Forms" version="1.0.3-pre-124" targetFramework="portable45-net45+win8+wp8" />
</packages>